*{
  background-color: #d2d6dd;
  margin:o;
  padding:0;
  box-sizing: border-box;
  font-family: 'Splash', "cursive";
}

.heading_style{
  padding: 30px 0;
  color: black;
  text-align: center;
  text-transform:uppercase;
  font-family:"Railway,sans-serif";
  font-size: 13px;
  letter-spacing: 2px;
  font-weight: 500;
  text-shadow: 2px 0px;
  font-size: 1.5rem;
  margin-bottom: 30px ;
}

.cards{ width:100%;
  height: auto;

}

.card{
 /* margin :25px; */
 margin: 6%;
 transition: all 0.45 cubic-bezier(0.075, 0.82, 0.165, 1);
 background-color: #ffff;
 width: 21.25%;
 border-radius: 12px;
 box-shadow: 0px 13px 10px -7px rgba(0, 0, 0, 0);
 float: left;

}

.card__img{
  width: 100%;
  height: 235px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  background-color: #fff;
}

.card__info{
  background-color: #fff;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius:12px;
  padding: 16px 24px 24px 24px;
  background-color: #fff;

}

.card-category{
  font-family: "Raleway",Verdana, Tahoma, sans-serif;
text-transform: uppercase;
font-size: 13px;
letter-spacing: 2px;
font-weight: 500;
color: #868686;
background-color: #fff;
}

.card__title{
  margin-top: 5px;
  margin-bottom: 10px;
  font-family: "Raleway",sans-serif;
  background-color: #fff;
  text-transform: capitalize;
}
button{
padding:5px 8px ;
font-family: "Raleway", Verdana, Tahoma, sans-serif;
text-transform: uppercase;
font-size: 13px;
letter-spacing: 2px;
font-weight: 500;
color: #868686;
background-color: #fff;
outline: none;
border: 1px solid red;
cursor: pointer;
}

@media (max-width:768px){
  .card{
    float: none;
    margin: 5%;
    width: 90%;
  }
}